.about{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    background-color: #fff;
    z-index: 3;
    padding-top: 60px;
    padding-bottom: 80px;
}

.eli{
    position: absolute;
    width: 20%;
    right: 0;
    transform: scale(-1, 1) translate(20%, -20%);
    z-index: -1;
}

.eli-two{
    position: absolute;
    width: 25%;
    left: 0;
    bottom: 0;
    transform: translate(25%, -25%);
    z-index: -1;
}


.myice{
    position: absolute;
    width: 30%;
    left: 0;
    top: 0;
    transform: rotate(30deg) translate(0%, -20%);
    z-index: -1;
}

.myice-two{
    position: absolute;
    width: 25%;
    right: 0;
    bottom: 0;
    transform: rotate(130deg) translate(-5%, 10%);
    z-index: -1;
}

.about-inner{
    width: 100%;
}

.about-left{
    width: 40%;
    float: left;
    position: relative;

}

.about-right{
    width: 60%;
    float: right;
    
}

.about-img{
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
    position: relative;
    margin-top: 45px;
    margin: auto;
}

.about-button{
    position: absolute;
    border: 2px solid #95ad75;
    border-radius: 50%;
    background-color: #95ad75;
    transition: 0.6s;
    cursor: pointer;
    width: 20vmin;
    height: 20vmin;

    color: #f3f3f3f8;
    font-size: 24px;
    font-weight: 700;

    margin-top: 100px;

    transform: translate(-140%, 120%);
}

.about-button:hover{
    background-color: #b9d496;
    border: 2px solid #b9d496;
    transition: 0.4s;
    transform: translate(-140%, 120%) scale(1.1);
}

.about-right__name{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.705);
    margin: auto;
}

.about-right__item{
    display: flex;
    width: 80%;
    margin: auto;
}

.about-content{
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.76);
}

.about-number{
    font-size: 45px;
    color: #e8c491;
    position: relative;
    font-weight: 700;
    margin-right: 10px;
}

.about-number::before{
    position: absolute;
    top: 25px;
    content: "";
    padding: 19px;
    background-color: #e8c49154;
    border-radius: 50px;
    z-index: -1;
   
}

@media (max-width: 900px) {
    .about-left{
        width: 100%;
        float: none;
        display: grid;
    }
    .about-right{
        width: 100%;
        float: none;
        display: grid;
    }
    .about-right__name{
        font-size: 28px;
        text-align: center;
        margin: 20px 0;
    }

    .about-right__item{
        display: block;
    }

    .eli-two{
        display: none;
    }
}